body {
	background-color: black;
}

h1 {
	color: white;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
}

h2 {
	color: yellow;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
}

.page {
	text-align: center;
	width: auto;
	margin-left: auto;
    margin-right: auto;
}

.greatagain {
	margin-top: 10px;
	color: white;
	font-size: xx-large;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	padding: 20px;
}

.red {
	color: red;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hvr-pulse-grow:hover div:after{
  content: ' ~OHOHOHOHOHOHO~';
}

.hvr-pulse-grow:hover .invis{
}

.gobanned {
	margin-top: 35px;
	margin-bottom: 35px;
	border: 1px;
	color: white;
	font: Arial, Helvetica, sans-serif;
}

.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter {
	float: left
}

 .header-limiter h1 {
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

 .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}

.header1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul {
    list-style-position: inside;
}

.two
{
    display: inline-block;
    margin: 0 auto;
}